body {
    background-color: black;
    color: white;
    font-family: "Inter", "Inter Placeholder", sans-serif ;
    margin: 30px;
    line-height: 1.6;
}
h1 {
    text-align: center;
}
h2 {
    text-decoration: underline;
}

nav {
    display: flex;
    border: 2px solid rgb(254, 76, 201);
    width: 95%;
    text-align: center;
    padding: 20px;
    display: inline-block;

}
nav a{
    color: white;
}

nav a:hover {
    text-decoration: underline;
    color: rgb(255, 148, 223) ;

}
.active{
    text-decoration: underline;
    color: rgb(254, 76, 201);
}
img {
    max-width: 500px;
    max-height: 500px;
}

a {
    color: white;
    text-decoration: underline;
}

.Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    font-size: 150%;
    display: block;
    margin: auto;
}
ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 50px;
}

.yelp:hover {
    color: rgb(255, 148, 223) ;
    text-decoration: underline;   
}

.Personal img {
    width: 200px;
    height: 200px;
}
.Personal img:hover {
    border: rgb(255, 148, 223)  solid 5px;
}
.Personal h3:hover {
    color: rgb(255, 148, 223) ;
    text-decoration: underline; 
}

.CLAWS img {
    width: 200px;
    height: 200px;
}
.CLAWS img:hover {
    border: rgb(255, 148, 223)  solid 5px;
}
.CLAWS h3:hover {
    color: rgb(255, 148, 223) ;
    text-decoration: underline;   
}

.openUX img {
    width: 200px;
    height: 200px;
}
.openUX img:hover {
    border: rgb(255, 148, 223) solid 5px;
}
.openUX h3:hover {
    color: rgb(255, 148, 223);
    text-decoration: underline;
    
}

.web img {
    width: 200px;
    height: 200px;
}
.web img:hover {
    border: rgb(255, 148, 223)  solid 5px;
}
.web h3:hover {
    color: rgb(255, 148, 223) ;
    text-decoration: underline;
   
}


div {
   font-size: 15px; 
}
footer {
    background-color:rgb(254, 76, 201);
    padding: 50px;
    text-align: right;
}

/* back to top button */
#topButton {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgb(254, 76, 201);
    display: block;
    margin-left: auto;
    margin-right: auto;; 
    color: black; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }

  #topButton:hover {
    background-color: rgb(253, 190, 234);
  }

  /*welcome page pop up */ 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
  }
  .modal-content > h2 {
    color: rgb(254, 76, 201);
  }
  
  .close-button {
    color: #888;
    float: right;
    font-size: 30px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #d7d3d3;
  }


  /* flip card css */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
 
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    overflow: scroll;
  }
